#work-template{
	text-align: center;
	.video-promoted{
		max-width: 1050px;
		width: 100%;
	}
	.video-feed {
		margin-left: -2px;
		margin-right: -2px;
		margin-bottom: 8px;
		outline: 1px solid red; // remove, only for dev
	}
}