#work-template{
	text-align: center;
	.video-promoted{
		max-width: 1050px;
		width: 100%;
	}
	#video-feed{
		margin-left: -2px;
		margin-right: -2px;
		margin-bottom: 8px;
		.row{
			max-width: 1050px;
			.column {
				padding: 0;
				float: left;
				img{
					margin-bottom: 20px;
					&:hover{
						cursor: pointer;
					}
				}
			}
		}
	}
}